{% extends "base.html" %}
{% block content %}
{% for producer in local_producers %}
<div>
    <p>
        <b>Producer: </b>{{producer.name}}
    </p>
    <p>
        <a href="/producers/{{producer.id}}">More</a>
    </p>
    <p>
        <a href="/producers/{{producer.id}}/edit">Update</a>
    </p>
    <p>
    <form action="/producers/{{ producer.id }}/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
    </form>
    </p>
</div>
{% endfor %}


{% endblock %}