{% extends "base.html" %}
{% block content %}
<aside>
    <!-- need to pass countries to this route (could use SELECT DISTINCT?) -->
    {% for country in countries %}
    <a href="{{ url_for('producers.by_country', country=country) }}">{{country}}</a>
    {% endfor %}
</aside>
{% for producer in producers %}
<div>
    <p>
        <b>Producer: </b>{{producer.name}}
    </p>
    <p>
        <a href="/producers/{{producer.id}}">More</a>
    </p>
    <p>
        <a href="/producers/{{producer.id}}/edit">Update</a>
    </p>
    <p>
        <form action="/producers/{{ producer.id }}/delete" method="POST">
            <input class="btn btn--danger" type="submit" value="delete" />
        </form>
    </p>
</div>
{% endfor %}
<div>
    <a href="/producers/new">
        <div>
            <p>
                Add Producer
            </p>
        </div>
    </a>
</div>


{% endblock %}