{% extends "base.html" %}
{% block content %}
<aside>
    <!-- need to pass countries to this route (could use SELECT DISTINCT?) -->
    {% for country in countries %}
    <a href="/producers/{{country}}">{{country}}</a>
    {% endfor %}
</aside>
{% for producer in producers %}
<div>
    <p>
        Producer:{{producer.name}}
    </p>
    <p>
        <a href="/producers/{{producer.id}}">More</a>
    </p>
    <p>
        <a href="/producers/{{producer.id}}/edit">Update</a>
    </p>
    <p>
        <form action="/producers/{{ producer.id }}/delete" method="POST">
            <input class="btn btn--danger" type="submit" value="delete" />
        </form>
    </p>
</div>
{% endfor %}


{% endblock %}