{% extends "base.html" %}
{% block content %}

<h2>Update Product</h2>

<form action="/products/{{product.id}}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{product.name}}" required autofocus>
    </div>
    <div>
        <label for="type">Type:</label>
        <input type="text" id="type" name="type" value="{{product.type}}" required>
    </div>
    <div>
        <label for="producer-id">Producer:</label>
        <select id="producer-id" name="producer-id">
            {% for producer in producers %}
            {% if producer.active %}
            <option value="{{producer.id}}">{{ producer.name }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="cost">Cost:</label>
        <input type="number" step="any" id="cost" name="cost" value="{{product.cost}}" required>
    </div>
    <div>
        <label for="price">Price:</label>
        <input type="number" step="any" id="price" name="price" value="{{product.price}}" required>
    </div>
    <div>
        <label for="case-price">Case-Price:</label>
        <input type="number" step="any" id="case-price" name="case-price" value="{{product.case_price}}" required>
    </div>
    <div>
        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock" value="{{product.stock}}" required>
    </div>
    <div>
        <label for="reduction">Reduction:</label>
        <input type="number" id="reduction" name="reduction" value="{{product.reduction}}" required>
    </div>
    <button class="btn btn--action" type="submit">Update Product</button>
</form>

{% endblock %}