{% extends "base.html" %}
{% block content %}
<aside class="filter-bar">
    <section>
        {% for producer in producers %}
        <a href="/products/{{producer.id}}/">{{producer.name}}</a>
        {% endfor %}
    </section>
    <section>
        {% for type in types %}
        <a href="{{ url_for('products.by_type', type=type) }}">{{type}}</a>
        {% endfor %}
    </section>
</aside>

{% for product in products %}
<div>
    <p>
        <b>Item:</b> {{product.name}} <b>Producer:</b> {{product.producer.name}} <b>Stock:</b> {{product.stock}}
    </p>
    {% if product.stock == 0 %}
    <aside>
        <p>
            Out of Stock. Please contact supplier:
        </p>
        <p>Email: {{product.producer.contact_email}}</p>
        <p>Telephone: {{product.producer.contact_number}}</p>
    </aside>
    {% elif product.stock <= 10 %}
    <aside>
        <p>
            Stock running low. Please contact supplier:
        </p>
       <p>Email: {{product.producer.contact_email}}</p>
       <p>Telephone: {{product.producer.contact_number}}</p>
    </aside>
    {% endif %}
    <p>
        <a href="/products/{{product.id}}">More</a>
    </p>
    <p>
    <form action="/products/{{ product.id }}/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
    </form>    
    </p>
</div>
    <div>
        <a href="/products/{{product.id}}/edit">
            <p>Update Inventory</p>
        </a>
    </div>
{% endfor %}
<div>
    <a href="/products/new">
        <div>
            <p>
                Add Product
            </p>
        </div>
    </a>
</div>

{% endblock %}