{% extends "base.html" %}
{% block content %}

<h2>Low Stock Items</h2>

{% for product in low_products %}
<div class="product-wrapper">
    <p>
        <b>Item:</b> {{product.name}} <b>Producer:</b> {{product.producer.name}} <b>Stock:</b> {{product.stock}}
    </p>
    {% if product.stock == 0 %}
    <aside>
        <p>
            Out of Stock. Please contact supplier:
        </p>
        <p>Email: {{product.producer.contact_email}}</p>
        <p>Telephone: {{product.producer.contact_number}}</p>
    </aside>
    {% elif product.stock <= 10 %}
    <aside>
        <p>
            Stock running low. Please contact supplier:
        </p>
        <p>Email: {{product.producer.contact_email}}</p>
        <p>Telephone: {{product.producer.contact_number}}</p>
    </aside>
    {% endif %}
    <div class="item-options">
        <p>
            <a href="/products/{{product.id}}">More</a>
        </p>
        <p>
        <form action="/products/{{ product.id }}/delete" method="POST">
            <input class="btn btn--danger" type="submit" value="delete" />
        </form>
        </p>
        <div>
            <a href="/products/{{product.id}}/edit">
                <p>Update Details</p>
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}