{% extends "base.html" %}
{% block content %}
<hgroup>
    <h2>{{product.name}}</h2>
    <h3>{{product.producer.name}}</h3>
</hgroup>
    <ul>
        <li>
            <b>Type: </b>{{product.type}}
        </li>
        <li>
            <b>Cost: </b>{{product.cost}}
        </li>
        {% if product.reduction > 0 %}
        <li class="reduced-price">
            <b>Price: </b>{{ product.price|round(2, 'common') }} <br> {{product.reduction}}% off
        </li>
        {% else %}
        <li>
            <b>Price: </b>{{product.price}}
        </li>
        {% endif %}

        <li>
            <b>Individual Mark-Up: </b>{{individual_markup}}%
        </li>

        {% if product.reduction > 0 %}
        <li class="reduced-price">
            <b>Case Price: </b>{{ product.case_price|round(2, 'common') }} <br> {{product.reduction}}% off
        </li>
        {% else %}
        <li>
            <b>Case Price: </b>{{product.case_price}}
        </li>
        {% endif %}

        <li>
            <b>Case Mark-Up: </b>{{case_markup}}%
        </li>
        <li>
            <b>Stock: </b>{{product.stock}}
        </li>
    </ul>
        {% if product.stock == 0 %}
        <aside class="warning">
            <p>
                Out of Stock. Please contact supplier:
            </p>
            <p>Email: {{product.producer.contact_email}}</p>
            <p>Telephone: {{product.producer.contact_number}}</p>
        </aside>
        {% elif product.stock <= 10 %}
        <aside class="warning">
            <p>
                Stock running low. Please contact supplier:
            </p>
            <p>Email: {{product.producer.contact_email}}</p>
            <p>Telephone: {{product.producer.contact_number}}</p>
        </aside>
        {% endif %}
        <div>
            <a href="/products/{{product.id}}/edit">
            <p>Update Inventory</p>
            </a>
        </div>


{% endblock %}