.btn {
    border:0px none;
    padding: 4px 8px;
    color: #FFFFFF;
    cursor:pointer;
    border-radius: 10%;
  }
  
  .btn--danger {
    background-color: rgb(216, 118, 53);
  }
  
  .btn--danger:hover {
    background-color: rgb(136, 48, 48);
  }
  
  .btn--action:hover {
    background-color: rgb(29, 154, 212);
  }
  
  .btn--action {
    background-color: rgb(29, 154, 212);
  }
  
  .btn--wrapper {
    margin: 0px 0px 0px 0px;
  }

  .btn--link:hover {
    background-color: rgb(29, 154, 212);
  }
  
  .btn--link {
    background-color: rgb(29, 154, 212);
    color: ;
  }


