header {
    margin: 0;
    padding: 0;
    background-color: rgb(214, 246, 250);
    display: flex;
    flex: row;
}

body {
    margin: 0;
    padding: 0;
    background-color: seashell;
    color: rgb(37, 37, 37);
    font-family: 'Crimson Text', serif;
}

.product-wrapper {
    margin: 10px;
    padding: 10px 20px;
    background: rgb(202, 221, 213);
    color: rgb(37, 37, 37);
    border-radius: 1%;
}

.producer-wrapper {
    margin: 10px;
    padding: 10px 20px;
    background: rgb(192, 172, 181);
    color: rgb(255, 255, 255);
    border-radius: 1%;
}

.options {
    display: flex;
    flex-flow: row wrap;
}

.options > p {
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.warning {
    color: rgb(218, 27, 52);
    border: rgb(37, 37, 37);
    border-width: 1px;
}


header > nav > ul > li {
    display: inline;
    margin-right: 5px;
    justify-content: flex-end;
}

h1 {
    text-align: center;
}






