header {
    margin: 0;
    padding: 0;
    background-color: rgb(214, 246, 250);
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    background-color: seashell;
    color: rgb(37, 37, 37);
    font-family: 'Crimson Text', serif;
}

.product-wrapper {
    margin: 10px;
    padding: 10px 20px;
    background: rgb(202, 221, 213);
    color: rgb(37, 37, 37);
    border-radius: 1%;
    display: grid;
    grid-template-areas: details options;
    grid-template-rows: 8fr 2fr;
}

.producer-wrapper {
    margin: 10px;
    padding: 10px 20px;
    background: rgb(192, 172, 181);
    color: rgb(255, 255, 255);
    border-radius: 1%;
    display: grid;
    grid-template-areas: details options;
    grid-template-rows: 8fr 2fr;
}

.options {
    grid-area: options;
}



