{% extends "base.html" %}
{% block content %}

<h1>Duncan's Wine Shop</h1>
<main>
    <div class="nav-buttons" id="home-nav">
        <section>
            <a href="/products">
                <div>
                    <p>All Products</p>
                </div> 
            </a>
        </section>
        <section>
            <a href="/producers">
                <div>
                    <p>All Producers</p>
                </div> 
            </a>
        </section>
        <section>
            <a href="/products/new">
                <div>
                    <p>Add Product</p>
                </div> 
            </a>
        </section>
        <section>
            <a href="/producer/new">
                <div>
                    <p>Add Producer</p>
                </div> 
            </a>
        </section>
        <section>
            <a href="/">
                <div>
                    <p>Create Deal</p>
                </div> 
            </a>
        </section>
    </div>
</main>
{% endblock %}